VITE_API_BASE_URL=https://jsonplaceholder.typicode.com
VITE_API_KEY=
VITE_TRIGGERED_WEBJOBS_API_BASE_URL=https://detail-packages-etl-staging.scm.azurewebsites.net/api/triggeredwebjobs
VITE_BASIC_AUTH_USERNAME=\$detail-packages-etl__staging
VITE_BASIC_AUTH_PASSWORD=vcrSWYNpqLkfmQ4rnmJyvn2NkngYalr7j4uJtf0YtCSMKA5RAx7epCBDg7Rv
VITE_COMPANY_URL=http://accounts.detailonline.com/api/companies
VITE_COMPANY_AUTH= bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlcyI6WyJhZG1pbiJdLCJnZHByIjp7InJlYWRfcG9saWN5Ijp7InZhbHVlIjp0cnVlLCJ0aW1lc3RhbXAiOiIyMDIwLTA3LTIxVDEwOjM1OjQzLjgxNFoifSwiZW1haWxfbm90aWYiOnsidmFsdWUiOnRydWUsInRpbWVzdGFtcCI6IjIwMjAtMDctMjFUMTA6MzU6NDMuODE0WiJ9LCJ0ZXJtc19hZ3JlZSI6eyJ0aW1lc3RhbXAiOiIyMDIwLTA3LTIxVDEwOjM1OjQzLjgxNFoifX0sImlkIjoyMTYsImZpcnN0X25hbWUiOiJKb24gUm9pemUiLCJsYXN0X25hbWUiOiJDYWluYSIsImVtYWlsIjoiam9ucm9pemUuY2FpbmFAaW5yaXZlci5jb20iLCJ1c2VyX3V1aWQiOiJkY2ZhZDBkMC1jYjNkLTExZWEtYTNhZC0zOTg0OWY4Y2UzMmEiLCJjcmVhdGVkX2F0IjoiMjAyMC0wNy0yMVQxMDozNToxNC45MDlaIiwidXBkYXRlZF9hdCI6IjIwMjEtMDgtMjZUMDk6MDc6MjUuODY4WiIsImRlbGV0ZWRfYXQiOm51bGwsImNvZGVzIjpbXSwiaWF0IjoxNjU3NjE4NjY1fQ.zsDOu7-tVhboMtVLeXcurXFrSAJ2C2Bv592kSkwfhM4